body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #7a4545;
    colour: #333
}

header {
    background-color: #222;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}

section {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

footer { 
    text-align: center;
    padding: 1rem;
    background-color: #222;
    color: white;
}